@charset "utf-8";
/* base style start */
html{ -webkit-text-size-adjust:none;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
body{ font:14px/1.5 Arial,Microsoft YaHei, Verdana;  /* background-color: #f8f8f8;  */ color: #333;}
h1,h2,h3,h4,h5,h6,p,a{ font-size:100%;}
ul,ol,li{ list-style:none;}
table{ border-collapse:collapse; border-style:none;}
button{ border:0 none; padding:0; cursor:pointer;}
iframe{ display:block}
img{ border:0;}
i,em{font-style: normal;}
input,select,img{ vertical-align:middle;}
textarea{ resize:vertical;}
a{ outline:0; text-decoration:none;color: #333}
.clear { clear:both; font-size:0; line-height:0}
.clear_fix:after { display:block; clear:both; content:"."; visibility:hidden; height:0; font-size:0;}
.fl{ float:left}
.fr{ float:right}
.hide{ display:none!important;}
.v_m *{vertical-align: middle;}
.v_top {vertical-align: top;}
.v_bottom *{vertical-align: bottom;}
.pr{position: relative;}
.pa{position: absolute;}
.txt_center{text-align: center;}
.txt-left{text-align: left;}
.txt_right{text-align: right;}
.font30{font-size: 30px;}
.font24{font-size: 24px;}
.font18{font-size: 18px;}
.font16{font-size: 16px;}
.font14{font-size: 14px;}
.font12{font-size: 12px;}
a.link,.blue{color: #2680df}
a.date_active{color: #333}
a.underline{text-decoration: underline;}
a.disabled,a.disabled:hover{background-color: #999;}
.red{color: #ff0000;}
.white{color: #fff;}
.grey{color: #999;}
.bold{font-weight: bold;}
.b_style{border:1px solid #dadada; background-color: #fff; padding: 10px;}
.b_style_bt{border-bottom: 1px solid #dadada;}
.mb25{margin-bottom: 25px}
.mb20{margin-bottom: 20px}
.mb15{margin-bottom: 15px}
.ml20{margin-left: 20px}
.ml15{margin-left: 15px}
.mt15{margin-top: 15px}
.pb20{padding-bottom: 20px}
.pb15{padding-bottom: 15px}
.pr15{padding-right: 15px;}
input,textarea,select{outline: none;}

/*icon, btn*/
.btn{display: inline-block; text-align: center; line-height: 23px; padding: 0 15px; color: #fff; background-color: #2680df;}

/* 主框架 */
.panel{position: relative; height: 900px;}
.item{position: absolute; /* opacity: 0;} */